<!--This template is for the brand of printer.-->
<!--We made this template because a new brand can be added to the page and this will allow it to be generated onto the page.-->
<div class="brand" type={{type}} brand={{brand}} code={{code}}>
    {{brand}}
</div>
