
<!--This template generates the header of the page which is always the same for our site-->

<header>
    <div class="header-image-container">
        <img src="oregonstate.jpg" alt="Oregon State Logo">
    </div>
    <div class="header-title">
        <h1><a href="/">Printer Toner Inventory</a></h1>
    </div>
</header>

<!--Creates the navigation bar with Home and Contacts as options to click on-->
<div class="navigation-bar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="contact">Contact</a>
        </li>
    </ul>
</div>
