<div id="modal-backdrop" class="hidden"></div>
<div id="sell-something-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Add/Edit a Printer</h3>
            <h4>If you have multiple codes, colors, updates, notes, and quantity separate with commas (if a value is empty please
                use N/A)</h4>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>


        <div id="modal-body">

            <div class="post-input-element">
                <label for="post-text-input">Brand</label>
                <input type="text" id="post-brand-input"></input>
            </div>

            <div class="post-input-element">
                <label for="post-photo-input">Type</label>
                <input type="text" id="post-type-input">
            </div>

            <div class="post-input-element">
                <label for="post-price-input">Code #</label>
                <input type="text" id="post-code-input">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Color</label>
                <input type="text" id="post-color-input">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Quantity</label>
                <input type="text" id="post-quantity-input">
            </div>

            <div class="post-input-element">
                <label for="post-min-quantity-warning">Min Quantity Alert</label>
                <input type="number" id="post-min-quantity-warning">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Last Updated</label>
                <input type="text" id="post-updated-input">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Notes</label>
                <input type="text" id="post-notes-input">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Printer Name</label>
                <input type="text" id="post-name-input">
            </div>

            <div class="post-input-element">
                <label for="post-city-input">Location</label>
                <input type="text" id="post-location-input">
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
            <button type="button" id="modal-edit" class="action-button">Edit Printer</button>
            <button type="button" id="modal-add-new" class="action-button">Add New Printer</button>
        </div>

    </div>