<div class="quantity" type={{type}} color={{color}} code={{code}}>
    {{quantity}}
</div>
<div class="change-quantity">
    <button type="button" class="change" value="add">
        <i class="fa fa-plus"></i>(+1)</button>
    <button type="button" class="change" value="minus">
        <i class="fa fa-plus"></i>(-1)</button>
</div>