<!--Templatizing the 404 page so it can be generated dynamically-->

<!--Using the header template to make things quicker and because the header is reused everywhere-->
{{> header}}

<main class="error-container">
   <h2>404</h2>
   <h3>Sorry! We couln't find that page, please go back to the Home page.</h3>
 </main>
