<!--Template to generate static contact page-->

<!--Reusing header template again-->
{{> header}}

<main class="contact-info">
   <h2>Contact info:</h2>
   <h3><a href="http://business.oregonstate.edu/main/faculty-and-staff/helpdesk">Issues with the Database?</a></h3>
 </main>
